<div class="content-wrapper">

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Réclamations</h5>
        <div class="fluid-container">
          <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3" *ngFor="let e of listreclamation">
            <div class="col-md-1">
              <img class="img-sm rounded-circle mb-4 mb-md-0" src="../../../assets/images/faces/useravatar.svg" alt="profile image">
            </div>
            <div class="ticket-details col-md-9">
              <div class="d-flex">
                <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">{{e.client.nom}} :</p>
                <p class="text-primary mr-1 mb-0"></p>
                <p class="mb-0 ellipsis">{{e.titre}}</p>
              </div>
              <p class="text-gray ellipsis mb-2">{{e.description_rec}}
              </p>
              <div class="row text-gray d-md-flex d-none">

                <div class="col-4 d-flex">
                  <h5>Date :</h5>
                  <h5 style="color: red">{{e.date_rec |date}}</h5>
                </div>
              </div>
            </div>
            <div class="ticket-actions col-md-2">
              <div class="btn-group dropdown">
                <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  action
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" data-toggle="modal" data-target="#add" >
                    <i class="fa fa-reply fa-fw"></i>Répondre</button>
                  <button class="dropdown-item" (click)="OnDelete(e._id)" >
                    <i class="fa fa-times text-danger fa-fw" ></i>Supprimer</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>




<div class=" example-modal " >
  <div class="modal modal-primary" id="add">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form role="form">
            <div classz="box-body">
              <h5>Répondre :</h5>
              <br>
              <form class="forms-sample">

                  <textarea type="text" class="form-control"  placeholder="Répondrer "></textarea>

              </form>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success mr-2">Envoyer</button>
          <button class="btn btn-light"  data-dismiss="modal" >Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>



</div>
