<div class=""content-wrapper>
<br>


  <div class="form-group">

    <select  (change)="select($event)">


      <option    value="{{c._id}}"  *ngFor="let c of listReservation" >
        {{c.client.nom}}


      </option>
    </select>
    <br><br>
    <div class="form-group">
      <label for="exampleInputEmail1">titre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Titre" [(ngModel)]="titre">
    </div>
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description de réclamation</label>
    <br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="description_rec"></textarea>
    <div class="modal-footer">
      <button type="button" (click)="add()"  class="btn  mr-2">Envoyer</button>
      <button class="btn btn-light"  data-dismiss="modal" >Annuler</button>
    </div>
  </div>
</div>
