<div class="content-wrapper">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 br-theme-bars-1to10">

<div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <h2 class="text-center mb-4" style="text-align: center;color: #f0f0f0">Reset Password</h2>
          <div class="auto-form-wrapper">

      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputName1"style="color: #f0f0f0">        New Password</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="taper votre nom" name="demande.nom_respo">
        </div>
        <div class="form-group">
          <label for="exampleInputName1"style="color: #f0f0f0">Confirm Password</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="taper votre nom" name="demande.nom_respo">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

<script src="swe">

</script>
