<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Gestion des  Repas</h4>
          <hr class="fancy-line"/>

          <p class="card-description">
            <button class="btn btn-success " data-toggle="modal" data-target="#add">Ajouter un nouveau categorie
              <i class="mdi mdi-plus"></i>
            </button>

          </p>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  nom_sous_catégorie
                </th>
                <th>
                  image_sous_cat
                </th>
                <th>
                  prix
                </th>
                <th>
                  Modifier
                </th>
                <th>
                  Supprimer
                </th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="py-1">
                  {{categorie.title}}

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                  <i class="fa fa-edit" style="font-size:36px"></i>
                </td>
                <td>
                  <i class="fa fa-trash" style="font-size:36px"></i>
                </td>


              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

