<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-auto grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tous les informations</h4>

          <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Localisation
      </th>
      <th>
        Numero telephone
      </th>
      <th>
        Nombre de table
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
      {{restaurant._id}}
      </td>
      <td>
      {{restaurant.location}}
      </td>
      <!--<td>-->
    <!--{{restaurant.lng}}-->
      <!--</td>-->
      <!--<td>-->
    <!--{{restaurant.location}}-->
      <!--</td>-->
      <td>
      {{restaurant.phone}}
      </td>

      <td>
        {{restaurant.nombre_table}}
      </td>
    </tr>

    </tbody>
  </table>
</div>
        </div>
      </div>
    </div>
  </div>
</div>

