
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          <h2 class="card-title">Gestion des tables disponibles</h2>
          <h5>Nombre totale: 3</h5>

          <div class="card-description">
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">TABLES</h4>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                          Etat
                        </th>
                        <th>
                          Position
                        </th>
                        <th>
                          Incrementer/decrementer
                        </th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="font-weight-medium">
                          3
                        </td>
                        <td>
                          <label class="badge badge-danger">Occupée</label>
                        </td>
                        <td>
                          Gauche
                        </td>
                        <td>
                          <i class="fa fa-table" style="font-size:16px"></i>

                        </td>

                      </tr>
                      <tr>
                        <td class="font-weight-medium">
                          1
                        </td>
                        <td>
                          <label class="badge badge-danger">Occupée</label>
                        </td>
                        <td>
                          Millieu
                        </td>
                        <td>
                          <a data-toggle="modal" data-target="#add">
                          <i class="fa fa-table" style="font-size:16px"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-medium">
                          2
                        </td>
                        <td>
                          <label class="badge badge-success" >Disponible</label>

                        </td>
                        <td>
                          Millieu
                        </td>
 <td>
   <i class="fa fa-table" style="font-size:16px"></i>

 </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class=" example-modal " >
  <div class="modal modal-primary" id="add">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form role="form">
            <div classz="box-body">
              <h5>Modification nombre</h5>
              <br>
              <form class="forms-sample">
                <div class="form-group">
                  <label > Incrementer/Decrementer </label>
                  <select type="text" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>



              </form>

            </div>


          </form>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success mr-2">Enregistrer</button>
          <button class="btn btn-light"  data-dismiss="modal" >Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

